@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;

}

:root {
  --font-family-roboto: 'Roboto', sans-serif;

  --text-color-black-font: #262626;

}

html, body {
  font-family: var(--font-family-roboto);

  color: var(--text-color-black-font);

}